:root {
  --color-widget-content-border: hsl(
    var(--bghs),
    calc(var(--scheme) (var(--scheme) var(--bgl) + 10%))
  );
  --widget-content-vertical-padding-reverse: calc(
    var(--widget-content-vertical-padding) * -1
  );
  --widget-content-horizontal-padding-reverse: calc(
    var(--widget-content-horizontal-padding) * -1
  );
}

.bookmarks-link:not(.bookmarks-link-no-arrow)::after,
.visited-indicator:not(.text-truncate)::after,
.visited-indicator.text-truncate::before {
  top: 0.07em;
}

.content-bounds-wide,
.page-width-wide .content-bounds {
  max-width: 2054px;
}

.cards-grid {
  -gap: var(--widget-content-horizontal-padding);
}

@container widget (min-width: 11010px) {
  .cards-grid {
    --cards-per-row: 5;
  }
}

@container widget (min-width: 1301px) and (max-width: 2024px) {
  .cards-horizontal {
    --cards-per-row: 7.5;
  }
}

@container widget (max-width: 1100px) {
  .widget-half .cards-grid {
    --cards-per-row: 3;
  }
}

.truncate-1 .text-truncate-2-lines {
  line-clamp: 1;
  -webkit-line-clamp: 1;
}

.widget-content > iframe {
  display: block;
}

.hide-details .list-horizontal-text {
  display: none;
}

/*****************************************************************************/

.glimpse-rounded .widget-content {
  border-radius: var(--border-radius);
  overflow: hidden;
}

/* glimpse iframe */

.glimpse-iframe .widget-content > iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

/* glimpse cover */

.glimpse-cover .forum-post-list-thumbnail {
  width: 6rem;
  display: block;
  height: fit-content;
  aspect-ratio: 16 / 9;
}

.glimpse-cover-large .forum-post-list-thumbnail {
  width: 12rem;
}

/* glimpse list

.glimpse-list-bordered .widget-content {
  overflow: hidden;
}
 */
.glimpse-list-bordered .widget-content > ul {
  margin: var(--widget-content-vertical-padding-reverse)
    var(--widget-content-horizontal-padding-reverse) 0;
}

.glimpse-list-bordered .list > li {
  margin: 0;
  padding: 0 var(--widget-content-horizontal-padding);
}

.glimpse-list-bordered .list > li > div {
  padding: var(--widget-content-vertical-padding) 0;
}

.glimpse-list-bordered .list > *:not(:first-child) > div {
  border-top: 1px solid var(--color-separator);
}

.glimpse-list-bordered .list > li:hover,
.glimpse-list-bordered .expand-toggle-button:hover {
  background-color: hsl(var(--bghs), calc(var(--bgl) + 3%));
}

.glimpse-list-small .list,
.glimpse-list-small .list > li > div {
  padding: calc(var(--widget-content-horizontal-padding) / 2) 0;
}

.glimpse-list-bordered .expand-toggle-button {
  width: -moz-available;
  margin: 0 var(--widget-content-horizontal-padding-reverse);
  padding: calc(var(--widget-content-horizontal-padding) / 2)
    var(--widget-content-horizontal-padding);
  border-top: 1px solid var(--color-separator);
}

/* glimpse tools */

.glimpse-copy {
  cursor: pointer;
  margin-left: 5px;
}

.glimpse-copy .glimpse-icon {
  pointer-events: none;
}

.glimpse-icon {
  width: auto;
  height: 1.6rem;
}

.glimpse-header-tools .widget-content {
  position: relative;
}

.glimpse-header-tools .tools {
  position: absolute;
  top: -30px;
  right: calc(var(--widget-content-horizontal-padding) + 1px);
  user-select: none;
}

/*****************************************************************************/

.glimpse-lolesports .event {
  background-color: hsl(var(--bghs), calc(var(--bgl) + 3%));
  padding: 1rem;
  border: 1px solid var(--color-widget-content-border);
}

.glimpse-lolesports .event.inProgress {
  border-color: var(--color-positive);
}

.glimpse-lolesports .event .badge {
  background: var(--color-primary);
  color: var(--color-widget-background);
  font-size: var(--font-size-h6);
  border-radius: var(--border-radius);
  padding-inline: 0.3rem;
}

.glimpse-lolesports .event.inProgress .badge {
  background: var(--color-positive);
}

.glimpse-lolesports .team.win .code {
  color: var(--color-positive);
}

.glimpse-lolesports .team.lose .code {
  color: var(--color-negative);
}

.grid-center {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.grid-center .item-0 {
  place-content: end;
}

.grid-center .item-1 {
  flex-direction: row-reverse;
  place-content: start;
}

/*****************************************************************************/

.widget-monitor-custom .widget-content {
  background: transparent;
  padding: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.widget-monitor-custom .monitor-site {
  background: var(--color-widget-background);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-widget-content-border);
  box-shadow: 0px 3px 0px 0px
    hsl(var(--bghs), calc(var(--scheme) (var(--scheme) var(--bgl)) - 0.5%));
  padding: var(--widget-content-padding);
}

.widget-monitor-custom .monitor-site-status-icon {
  place-self: flex-start;
  width: 1.2rem;
  height: 1.2rem;
}

.widget-monitor-custom .monitor-site {
  cursor: pointer;
}

.widget-monitor-custom .monitor-site * {
  pointer-events: none;
}

.widget-monitor-custom ul.list-horizontal-text * {
  color: var(--color-text-base);
}

.widget-monitor-custom .monitor-site:hover {
  background-color: hsl(var(--bghs), calc(var(--bgl) + 3%));
}

/* --- */

.widget-movies .video-thumbnail {
  aspect-ratio: 2/3;
}

.widget-movies .video-title {
  padding: 1rem;
}

/* --- */

:root {
  --widget-table-spacing: var(--widget-content-horizontal-padding);
  --widget-table-spacing-half: calc(var(--widget-table-spacing) / 2);
}

.widget-table .widget-content {
  padding: 0;
}

.widget-table table {
  width: 100%;
  border-collapse: collapse;
}

.widget-table table tr {
  border-bottom: 1px solid var(--color-separator);
}

.widget-table table thead tr {
  text-align: left;
  border-width: 3px;
}

.widget-table table tbody tr:last-child {
  border-bottom: none;
}

.widget-table table tbody tr:hover {
  background-color: hsl(var(--bghs), calc(var(--bgl) + 3%));
}

.widget-table table td,
.widget-table table th {
  padding: var(--widget-table-spacing-half);
}

.widget-table table td:first-child,
.widget-table table th:first-child {
  padding-left: var(--widget-table-spacing);
}

.widget-table table td:last-child,
.widget-table table th:last-child {
  padding-right: var(--widget-table-spacing);
}

/* --- */

.widget-proxmox-lxc .divider {
  padding-left: var(--widget-table-spacing);
}

.widget-proxmox-lxc td.divider {
  border-left: 0px solid var(--color-separator);
}

.widget-proxmox-lxc .lxc {
  color: var(--color-text-subdue);
}

.widget-proxmox-lxc .lxc-status {
  display: flex;
  width: 8px;
  height: 8px;
  background: var(--color-text-base);
  border-radius: 100%;
}

.widget-proxmox-lxc .lxc.running .lxc-status {
  background: var(--color-positive);
}
.widget-proxmox-lxc .lxc.stopped .lxc-status {
  background: var(--color-negative);
}

.widget-proxmox-lxc .lxc.running .lxc-name {
  color: var(--color-text-highlight);
}

.widget-proxmox-lxc .lxc-value::after {
  content: attr(data-value, 0);
}

.widget-proxmox-lxc .lxc.running .lxc-value.perc {
  color: var(--color-text-highlight);
}

.widget-proxmox-lxc .lxc.stopped .lxc-name,
.widget-proxmox-lxc .lxc.running .lxc-uptime,
.widget-proxmox-lxc .lxc.running .lxc-vmid,
.widget-proxmox-lxc .lxc.running .lxc-value,
.widget-proxmox-lxc .lxc.running .lxc-value + .affix,
.widget-proxmox-lxc .lxc.running .lxc-value.perc[data-value="0"] {
  color: var(--color-text-base);
}

/* --- */

.widget-table.widget-domains table td {
  width: 20%;
}

.widget-table.widget-domains table td:first-child {
  width: 40%;
}

.widget-domains.hide .domain {
  text-shadow: 4px 0px 6px var(--color-text-base);
  color: transparent;
  overflow: visible;
}

.widget-domains.hide .domain:hover {
  text-shadow: none;
  color: initial;
}

.widget-domains .toggle {
  cursor: pointer;
}

.widget-domains .glimpse-icon {
  opacity: 0.75;
  display: none;
}

.widget-domains .glimpse-icon:hover {
  opacity: 1;
}

.widget-domains .icon-bolt {
  display: block;
}

.widget-domains.hide .icon-hide {
  display: block;
}

.widget-domains:not(.hide) .icon-show {
  display: block;
}

/*****************************************************************************/

.glimpse-RF9F7 .traceview[_ngcontent-eyo-c45] > [_ngcontent-eyo-c45]:last-child,
.glimpse-RF9F7 .fixed.header {
  display: none;
}
.glimpse-RF9F7 body,
.glimpse-RF9F7 .body[_ngcontent-eyo-c50] wa-traceplot[_ngcontent-eyo-c50] {
  background: transparent;
}

.glimpse-RF9F7 .widget-content {
  background: var(--color-widget-background);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-widget-content-border);
  box-shadow: 0px 3px 0px 0px
    hsl(var(--bghs), calc(var(--scheme) (var(--scheme) var(--bgl)) - 0.5%));
  padding: 0;
}
