/* @import "styles/core.css"; */

:root {
  --glimpse-modal-height: 70vh;
  --glimpse-spacing: var(--widget-content-horizontal-padding);
  --glimpse-spacing-2x: calc(var(--glimpse-spacing) * 2);
  --glimpse-spacing-half: calc(var(--glimpse-spacing) / 2);
  --glimpse-bg-light: hsl(var(--bghs), calc(var(--bgl) + 3%));
  --glimpse-bg-lighter: hsl(var(--bghs), calc(var(--bgl) + 5%));
  --glimpse-color-yellow: hsl(60, 50%, 75%);
}

.glimpse-modal .hide-on-modal,
.widget-content .hide-on-widget {
  display: none;
}

.padding-0 {
  padding: 0;
}
.margin-0 {
  margin: 0;
}
.blur-0 {
  filter: none;
}

.hover-opacity-full:hover {
  opacity: 100;
}

.glimpse-modal a *,
.glimpse-modal button *,
.glimpse-app a *,
.glimpse-app button * {
  pointer-events: none;
}

details.spoiler > summary {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-widget-content-border);
  padding: 1rem var(--widget-content-horizontal-padding);
}

details.spoiler {
  background-color: var(--glimpse-bg-light);
}

details.spoiler:open > summary {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

details.spoiler > p {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  border: 1px solid var(--color-widget-content-border);
  border-top: none;
  padding: 1rem var(--widget-content-horizontal-padding);
}

details > summary {
  cursor: pointer;
}

details.blocked:open > summary {
  margin-bottom: 1rem;
}

/******/

@container widget (max-width: 300px) {
  .autohide-300 {
    display: none;
  }
}

/******/

.glimpse-inline-link {
  display: inline-flex;
  place-items: baseline;
  gap: 7px;
}

.glimpse-inline-link.image svg {
  place-self: center;
}

.glimpse-button {
  border-radius: var(--border-radius);
  padding: 0.5rem;
  opacity: 0.75;
  background-color: var(--color-widget-background-highlight);
}

.glimpse-button:hover {
  opacity: 100;
}

.glimpse-icon {
  width: auto;
  height: 1.6rem;
  opacity: 0.8;
}

.glimpse-loading-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-separator);
  border-radius: var(--border-radius);
  inset: 0;
}

.glimpse-content {
  container-name: glimpse;
  container-type: inline-size;
}

.glimpse-content-reverse-padding {
  margin: -15px -17px;
  overflow: hidden;
  border-radius: var(--border-radius);
}

/******/

.glimpse-thumb {
  width: 6rem;
  display: block;
  height: fit-content;
  aspect-ratio: 16 / 9;
  flex-shrink: 0;
  border-radius: var(--border-radius);
  object-fit: cover;
  border: 1px solid var(--color-separator);
  margin-top: 0.1rem;
}

.glimpse-thumb-large {
  width: 12rem;
}

.glimpse-grid-center {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.glimpse-grid-center .item-0 {
  place-content: end;
}

.glimpse-grid-center .item-1 {
  flex-direction: row-reverse;
  place-content: start;
}

.glimpse-grid-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.35rem;
}

/* @import "styles/widget.css"; */

.glimpse-widget {
  container-name: glimpse;
  container-type: inline-size;
}

.glimpse-widget > .glimpse-content {
  background: var(--color-widget-background);
  border: 1px solid var(--color-widget-content-border);
  box-shadow: 0px 3px 0px 0px
    hsl(var(--bghs), calc(var(--scheme) (var(--scheme) var(--bgl)) - 0.5%));
}

.glimpse-content > .expand-toggle-button {
  margin-bottom: var(--widget-content-vertical-padding-reverse);
}

/* @import "styles/app.css"; */

.glimpse-app {
  background: var(--color-widget-background);
  border: 1px solid var(--color-widget-content-border);
  box-shadow: 0px 3px 0px 0px
    hsl(var(--bghs), calc(var(--scheme) (var(--scheme) var(--bgl)) - 0.5%));

  min-height: 200px;
  max-height: inherit;
}

.glimpse-app > div:only-child {
  border-radius: var(--border-radius);
}

.glimpse-app > div:first-child:not(:only-child) {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.glimpse-app > div:last-child:not(:only-child) {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.glimpse-app > div + div {
  border-top: 1px solid var(--color-widget-content-border);
}

.glimpse-app-header,
.glimpse-app-footer {
  background-color: var(--color-background);
}

.glimpse-app-body::before,
.glimpse-app-body:after {
  display: block;
  content: "";
  position: absolute;
  height: 2rem;
  left: 0;
  right: 8px;
  z-index: 2;
  pointer-events: none;
}

.glimpse-app-body::before {
  top: 0;
  background: linear-gradient(
    to bottom,
    var(--color-widget-background),
    transparent
  );
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.glimpse-app-body::after {
  bottom: 0;
  background: linear-gradient(
    to top,
    var(--color-widget-background),
    transparent
  );
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.glimpse-app-scroll {
  overflow: hidden auto;
}
.glimpse-app .not-found {
  min-height: 150px;
}

/* Override styles */

.widget-content > .glimpse-widget > .glimpse-app {
  max-height: 400px;
}

@container widget (min-width: 551px) {
  .widget-content > .glimpse-widget > .glimpse-app {
    max-height: 500px;
  }
}

.modal-content > .glimpse-widget > .glimpse-app {
  max-height: var(--glimpse-modal-height);
  box-shadow: none;
}


/* @import "styles/gallery.css"; */

.glimpse-gallery > div {
  background: var(--color-graph-gridlines);
}

.glimpse-image {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  opacity: 0.75;
  transition: opacity 0.3s;
}

.glimpse-gallery .glimpse-image {
  object-fit: cover;
  height: 200px;
}

.glimpse-image[data-glimpse-src] {
  aspect-ratio: 0.75/1;
  height: 200px;
  opacity: 0;
}

.glimpse-link:hover .glimpse-image {
  opacity: 1;
}

/* @import "styles/list.css"; */

.glimpse-list-item {
  padding: 0 var(--widget-content-horizontal-padding);
}

.glimpse-list-item > * {
  padding: var(--widget-content-vertical-padding) 0;
}

.glimpse-list-item + .glimpse-list-item > * {
  border-top: 1px solid var(--color-separator);
}

.glimpse-list + .expand-toggle-button {
  padding: calc(var(--widget-content-horizontal-padding) / 2)
    var(--widget-content-horizontal-padding);
  border-top: 1px solid var(--color-separator);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.glimpse-list.with-hover .glimpse-list-item:hover,
.glimpse-list + .expand-toggle-button:hover {
  background-color: hsl(var(--bghs), calc(var(--bgl) + 3%));
}

/* @import "styles/modal.css"; */

.glimpse-modal {
  overflow: visible;
  border: 0;
  align-self: center;
  justify-self: center;
  color: var(--color-text-base);
  width: calc(100vw - 160px);
  max-width: 1000px;
  background-color: transparent;
  height: var(--glimpse-modal-height);
}

.glimpse-modal::backdrop {
  background-color: black;
  opacity: 0.75;
}

.glimpse-modal .modal-content {
  position: relative;
  max-height: var(--glimpse-modal-height);
}

.glimpse-modal .modal-content > .glimpse-loading-container {
  font-size: 2rem;
  background: transparent;
}

.glimpse-modal .modal-nav {
  position: absolute;
  left: -8rem;
  top: -1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 2rem 3rem;
}

.glimpse-modal .modal-nav .glimpse-loading-container {
  border-radius: 50%;
  background: white;
}

.glimpse-modal .modal-nav button {
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  background: white;
  color: black;
  border-radius: 50%;
  padding: 1rem;
}

[data-glimpse-modal-content] {
  position: relative;
}

.glimpse-modal[aria-busy] {
  cursor: wait;
}
.glimpse-modal[aria-busy] .modal-content * {
  pointer-events: none;
  user-select: none;
}

/* @import "styles/nav.css"; */

.glimpse-nav {
  align-items: baseline;
  display: flex;
  min-width: fit-content;
  gap: 1rem;
}

.glimpse-nav button {
  cursor: auto;
}

.glimpse-nav button:not(.dots) {
  border: 1px solid var(--color-popover-border);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
}

.glimpse-nav button:not(.dots, :disabled):hover {
  cursor: pointer;
  background: var(--color-separator);
}

.glimpse-nav button.active {
  color: var(--color-text-highlight);
  background: var(--color-separator);
}

/* @import "styles/table.css"; */

.glimpse-table {
  width: 100%;
  border-collapse: collapse;
}

.glimpse-table tr {
  border-bottom: 1px solid var(--color-separator);
}

.glimpse-table thead tr {
  text-align: left;
  border-width: 3px;
}

.glimpse-table tbody tr:hover {
  background-color: var(--glimpse-bg-light);
}

.glimpse-table td,
.glimpse-table th {
  padding: var(--glimpse-spacing-half);
}

.glimpse-table td:first-child,
.glimpse-table th:first-child {
  padding-left: var(--glimpse-spacing);
}

.glimpse-table td:last-child,
.glimpse-table th:last-child {
  padding-right: var(--glimpse-spacing);
}

/* @import "styles/user.css"; */

.glimpse-user-avatar img.avatar {
  height: 4.4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-separator);
}

.glimpse-user-avatar img.avatar.x2 {
  height: 8.8rem;
}

/* @import "styles/media.css"; */

.glimpse-media-thumbnail {
  width: 5rem;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: var(--border-radius);
}

/* @import "styles/widget/animekarmalist.css"; */

.glimpse-animekarmalist .reddit-card-thumbnail {
  opacity: 0.25;
}

/* @import "styles/widget/eksisozluk.css"; */

.eksisozluk-profile > div:first-child {
  border-bottom: 1px solid var(--color-widget-content-border);
}

.eksisozluk-profile .eksisozluk-nav {
  padding: var(--widget-content-horizontal-padding)
    var(--widget-content-horizontal-padding) 0;
}

.eksisozluk-badge {
  padding: 5px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--color-popover-border);
}

.eksisozluk-badge:hover {
  background: var(--color-separator);
}

.eksisozluk-badge img {
  height: 4rem;
  aspect-ratio: 1/1;
}

/* @import "styles/widget/lolesports.css"; */

#glimpse-lolesports .event > div {
  background-color: var(--glimpse-bg-light);
  padding: 1rem;
  border: 1px solid var(--color-widget-content-border);
  border-radius: var(--border-radius);
}

#glimpse-lolesports .event + .label {
  margin-top: 1.6rem;
}

#glimpse-lolesports .event.inProgress > div {
  border-color: var(--color-positive);
}

#glimpse-lolesports .event .badge {
  background: var(--color-primary);
  color: var(--color-widget-background);
  font-size: var(--font-size-h6);
  border-radius: var(--border-radius);
  padding-inline: 0.3rem;
}

#glimpse-lolesports .event.inProgress .badge {
  background: var(--color-positive);
}

#glimpse-lolesports .team.win .code {
  color: var(--color-positive);
}

#glimpse-lolesports .team.lose .code {
  color: var(--color-negative);
}

#glimpse-lolesports .team-grid {
  padding: 0 2rem;
}

/* @import "styles/widget/proxmox.css"; */

.widget-glimpse-proxmox .widget-content {
  padding: 0;
}

.widget-glimpse-proxmox table .proxmox-pad {
  padding-left: var(--glimpse-spacing-2x);
}

.proxmox-item {
  color: var(--color-text-subdue);
}

.proxmox-item .status {
  width: 8px;
  height: 8px;
  background: var(--color-text-base);
  border-radius: 100%;
}

.proxmox-item.proxmox-node {
  background: var(--color-background);
}

.proxmox-item.online .status {
  background: var(--color-positive);
}

.proxmox-item.offline .status {
  background: var(--color-negative);
  opacity: 0.75;
}

.proxmox-item.offline:hover .status {
  opacity: 1;
}

.proxmox-item.online .name {
  color: var(--color-text-highlight);
}

.proxmox-item.offline:hover .name,
.proxmox-item.online .id,
.proxmox-item.online .uptime,
.proxmox-item.online .cores .value,
.proxmox-item.online .current .value,
.proxmox-item.online .total .value,
.proxmox-item.online .network .value,
.proxmox-item.online [data-status="low"] .usage .value {
  color: var(--color-text-base);
}

.proxmox-item.online [data-status="high"] .usage .value {
  color: var(--color-text-highlight);
}

.proxmox-item.online [data-status="max"] .usage .value {
  color: var(--color-negative);
}

.proxmox-item .unit {
  text-transform: lowercase;
}

.proxmox-item .usage {
  min-width: 32px;
}

/* @import "styles/widget/seismicportal.css"; */

.glimpse-seismicportal .grid-table {
  display: grid;
  grid-template-columns: repeat(3, auto) 1fr;
  margin: var(--widget-content-vertical-padding-reverse)
    var(--widget-content-horizontal-padding-reverse);
}

.glimpse-seismicportal .grid-table > div {
  padding: 7px 15px;
}

.glimpse-seismicportal .grid-table > div + div:not(:nth-child(-n + 5)) {
  border-top: 1px solid var(--color-separator);
}

@container widget (max-width: 320px) {
  .glimpse-seismicportal .grid-table > div:nth-child(5n) {
    display: none;
  }
}

@container widget (min-width: 321px) {
  .glimpse-seismicportal .grid-table {
    grid-template-columns: repeat(4, auto) 1fr;
  }
}

.mag {
  position: relative;
  padding: 0.2rem 0.7rem;
  min-width: 4rem;
  text-align: center;
}

.mag:before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-text-base);
  opacity: 0.03;
  border-radius: var(--border-radius);
}

.mag.color-positive:before {
  background: var(--color-positive);
}
.mag.color-negative:before {
  background: var(--color-negative);
}
