/* ========================================
   THEME OVERRIDES & CUSTOMIZATIONS
   ======================================== */

:root[data-theme^="N-"] {
  --color-text-highlight: hsl(from var(--x-c-foreground) h s calc(l + 70));
  --color-text-paragraph: hsl(from var(--x-c-foreground) h s calc(l + 50));
  --color-text-base: hsl(from var(--x-c-foreground) h s calc(l + 40));
  --color-text-base-muted: hsl(from var(--x-c-foreground) h s calc(l + 30));
  --color-text-subdue: hsl(from var(--x-c-foreground) h s calc(l + 20));

  --color-widget-background: var(--x-c-foreground);
  --color-widget-background-hover: var(--x-c-foreground-light);
  --color-widget-content-border: var(--x-c-border);
  --color-widget-content-border: transparent !important;

  --color-separator: var(--x-c-border);

  --color-graph-gridlines: var(--x-c-foreground-lighter);

  --color-popover-background: hsl(
    from var(--color-widget-background) h calc(s + 4) calc(l + 4)
  );
  --color-popover-border: hsl(
    from var(--color-widget-background) h calc(s + 4) calc(l + 8)
  );
}

:root[data-theme^="N-"] {
  .widget-content:not(.widget-content-frameless),
  .widget-content-frame {
    border: none;
    box-shadow: var(--box-shadow);
  }

  --border-radius: 10px;

  .twitch-channel-avatar-container,
  .progress-bar,
  .dns-stats-graph-columns,
  .twitch-category-thumbnail,
  .forum-post-list-thumbnail,
  .twitch-stream-preview {
    --border-radius: 5px;
  }
}

:root[data-theme^="N-"] {
  .glimpse-app-header,
  .glimpse-app-footer {
    background-color: hsl(
      var(--bghs),
      calc(var(--scheme) var(--bgl) + 3%)
    ) !important;
  }

  .glimpse-widget > .glimpse-content,
  .glimpse-app {
    box-shadow: var(--box-shadow);
  }
}

/*****************************************************************************/

.list-horizontal-text > .nodot::after {
  content: " ";
}

.widget-type-split-column.gap-10 > .widget-content > .masonry {
  gap: var(--x-gap-medium);
}

.widget-type-split-column.gap-10 .search-input {
  height: 5.44rem;
}

/**************************************************************************************************/

.x-collapsible:not(.container-expanded) > .collapsible-item {
  display: none;
}

:not(.x-container) > .x-collapsible + .expand-toggle-button {
  text-align: center;
  margin-top: 0.5rem;
  background-color: var(--color-background);
  z-index: 99;
}

/* REMOVE */
.x-container > .expand-toggle-button {
  margin-bottom: -15px;
  background: var(--x-c-foreground);
}
