:root {
  --color-text-highlight: hsl(from var(--x-c-foreground) h s calc(l + 70));
  --color-text-paragraph: hsl(from var(--x-c-foreground) h s calc(l + 50));
  --color-text-base: hsl(from var(--x-c-foreground) h s calc(l + 40));
  --color-text-base-muted: hsl(from var(--x-c-foreground) h s calc(l + 30));
  --color-text-subdue: hsl(from var(--x-c-foreground) h s calc(l + 20));

  --color-widget-content-border: transparent !important;
}

:root[data-theme^="N-"] {
  --box-shadow: 0px 3px 0px 0px
    hsl(from var(--color-background) h s calc(l - 0.3));

  --color-widget-background: hsl(from var(--color-background) h s calc(l + 5));
  --color-widget-background-hover: hsl(
    from var(--color-widget-background) h s calc(l + 3)
  );
  --color-widget-content-border: hsl(
    from var(--color-widget-background) h s calc(l + 10) / 0.75
  );

  --color-separator: hsl(
    from var(--color-widget-background) h s calc(l + 8) / 0.75
  );

  --color-graph-gridlines: hsl(
    from var(--color-widget-background) h s calc(l + 4) / 0.75
  );

  --color-popover-background: hsl(
    from var(--color-widget-background) h calc(s + 4) calc(l + 4)
  );
  --color-popover-border: hsl(
    from var(--color-widget-background) h calc(s + 4) calc(l + 8)
  );
}

:root[data-theme^="N-"] {
  .widget-content:not(.widget-content-frameless),
  .widget-content-frame {
    border: none;
    box-shadow: var(--box-shadow);
  }

  --border-radius: 10px;

  .twitch-channel-avatar-container,
  .progress-bar,
  .dns-stats-graph-columns,
  .twitch-category-thumbnail,
  .forum-post-list-thumbnail,
  .twitch-stream-preview {
    --border-radius: 5px;
  }
}

:root[data-theme^="N-"] {
  .glimpse-app-header,
  .glimpse-app-footer {
    background-color: hsl(
      var(--bghs),
      calc(var(--scheme) var(--bgl) + 3%)
    ) !important;
  }
  .glimpse-widget > .glimpse-content,
  .glimpse-app {
    box-shadow: var(--box-shadow);
  }
}

/*****************************************************************************/

.header .logo {
  display: flex;
  align-items: center;
  border-right: 1px solid var(--x-c-foreground-lighter);
  margin: 10px 0;
  height: auto;
  line-height: unset;
}

.desktop-navigation .nav-item-text {
  margin-top: 0px;
}

.mobile-navigation a.nav-item,
.header a.nav-item {
  display: flex;
  gap: 6px;
}

.header a.nav-item::before {
  align-self: center;
}

a.nav-item {
  --color: var(--color-primary);
}

a.nav-item::before {
  color: var(--color);
}

a.nav-item.nav-item-current {
  border-bottom-color: var(--color);
}

a.nav-item[href="/stem-plus"] {
  --color: #f7df1e;
}
a.nav-item[href="/stem-plus"]::before {
  content: "⬡";
}
a.nav-item-current[href="/stem-plus"]::before {
  content: "⬢";
}

a.nav-item[href="/psychology"] {
  --color: #b389ff;
}
a.nav-item[href="/psychology"]::before {
  content: "◎";
}

a.nav-item[href="/entertainment"] {
  --color: #4bdd61;
}

a.nav-item[href="/gaming"]::before,
a.nav-item[href="/entertainment"]::before {
  content: "◇";
}
a.nav-item-current[href="/gaming"]::before,
a.nav-item-current[href="/entertainment"]::before {
  content: "◆";
}

a.nav-item[href="/gaming"] {
  --color: #12fff4;
}

a.nav-item[href="/live"] {
  --color: #ef4343;
}
a.nav-item[href="/live"]::before {
  content: "●";
}

a.nav-item[href="/selfhost"] {
  --color: #eb844e;
}
a.nav-item[href="/selfhost"]::before {
  content: "✪";
}

a.nav-item[href="/nulsec"] {
  --color: #4bdd61;
}
a.nav-item[href="/nulsec"]::before {
  content: "⊟";
}

a.nav-item[href="/javascript"]::before,
a.nav-item[href="/vue"]::before,
a.nav-item[href="/react"]::before,
a.nav-item[href="/svelte"]::before {
  content: "◯";
}

a.nav-item-current[href="/javascript"]::before,
a.nav-item-current[href="/vue"]::before,
a.nav-item-current[href="/react"]::before,
a.nav-item-current[href="/svelte"]::before {
  content: "●";
}

a.nav-item[href="/javascript"] {
  --color: #f7df1e;
}

a.nav-item[href="/svelte"] {
  --color: #ff3e00;
}

a.nav-item[href="/vue"] {
  --color: #4fc08d;
}

a.nav-item[href="/react"] {
  --color: #61dafb;
}
