@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

[hidden] {
  display: none !important;
}

[invisible] {
  visibility: hidden;
}

video {
  width: 100%;
  display: block;
}

.capitalize {
  text-transform: capitalize;
}

.pointer {
  cursor: pointer;
}

.zoom-in {
  cursor: zoom-in;
}

.grab {
  cursor: grab;
}

.opacity {
  opacity: 0.5;
}

.opacity.pointer:hover {
  opacity: 1;
}

/**************************************************************************************************/

.x-container {
  border-radius: var(--x-br);
  background: var(--x-c-foreground);
  box-shadow: var(--box-shadow);
}

.x-card {
  container-type: inline-size;
  container-name: card;
}

.x-cqw-70 {
  max-width: 80cqw;
}

.x-content-padding {
  padding: var(--widget-content-padding);
}

.x-gray {
  filter: grayscale(100%);
}

.x-lg-positive {
  background: linear-gradient(
    to bottom,
    oklch(from var(--color-positive) l c h / 0.075),
    transparent 15rem 100%
  );
}

.x-lg-negative {
  background: linear-gradient(
    to bottom,
    oklch(from var(--color-negative) l c h / 0.075),
    transparent 15rem 100%
  );
}

.x-progress-bar {
  --width: 0%;

  height: 2px;
  background: linear-gradient(
    to right,
    var(--color-negative) var(--width),
    hsl(from var(--x-c-foreground-lighter) h s l / 0.75) var(--width)
  );
  background: linear-gradient(
    to right,
    #f03 0%,
    #ff2791 var(--width),
    var(--x-c-foreground-alpha) var(--width)
  );
  background: linear-gradient(
    to right,
    #f03 calc(var(--width) * 0.5),
    #ff2791 var(--width),
    var(--x-c-foreground-alpha) var(--width)
  );
}

.x-nsfw {
  overflow: hidden;
  border-radius: var(--x-br-half);
}

.x-nsfw > img {
  filter: grayscale(0.2) contrast(0.9) blur(10px) !important;
}

/**************************************************************************************************/

.x-loading {
  animation: var(--animate-pulse);
  pointer-events: none;
}

.x-ar-1x1 {
  aspect-ratio: 1 / 1;
  width: 100%;
}

.x-ar-3x4 {
  aspect-ratio: 3 / 4;
}

.x-ar-2x3 {
  aspect-ratio: 2 / 3;
}

.x-ar-16x9 {
  aspect-ratio: 16 / 9;
}

.x-ar-yt {
  aspect-ratio: 16 / 8.9;
}

.x-of-contain {
  object-fit: contain;
}

.x-of-cover {
  object-fit: cover;
}

.x-of-fill {
  object-fit: fill;
}

/**************************************************************************************************/

.x-wh-8 {
  width: 0.8rem;
  height: 0.8rem;
}

.x-wh-10 {
  width: 1rem;
  height: 1rem;
}

.x-w-120 {
  width: 12rem;
}

.x-wh-12 {
  width: 1.2rem;
  height: 1.2rem;
}

.x-wh-14 {
  width: 1.4rem;
  height: 1.4rem;
}

.x-wh-22 {
  width: 2.2rem;
  height: 2.2rem;
}

.x-h-64 {
  height: 6.4rem;
}

.x-mxw-320 {
  max-width: 320px;
}

.x-w-fit {
  width: fit-content;
}

.x-h-fit {
  height: fit-content;
}

.x-wh-auto {
  width: auto;
  height: auto;
}

.x-wh-f {
  width: 100%;
  height: auto;
}

.x-w-f {
  width: 100%;
}

.x-pe-none {
  pointer-events: none;
}

.x-round {
  border-radius: 100%;
}

/**************************************************************************************************/

.x-flex {
  display: flex;
}

.x-as-s {
  align-self: start;
}

.x-as-c {
  align-self: center;
}

.x-as-e {
  align-self: end;
}

.x-ps-ss {
  place-self: start start;
}

.x-ps-sc {
  place-self: start center;
}

.x-ps-se {
  place-self: start end;
}

.x-ps-cs {
  place-self: center start;
}

.x-ps-cc {
  place-self: center center;
}

.x-ps-ce {
  place-self: center end;
}

.x-ps-es {
  place-self: end start;
}

.x-ps-ec {
  place-self: end center;
}

.x-ps-ee {
  place-self: end end;
}

.x-pc-c {
  place-content: center;
}

.x-center {
  align-items: center;
  justify-content: center;
}

.x-align-center {
  align-items: center;
}

.x-space-between {
  justify-content: space-between;
}

/**************************************************************************************************/

.x-margin-gap {
  margin: var(--x-gap-medium);
}

.x-br {
  border-radius: var(--x-br);
}

.x-br-t {
  border-radius: var(--x-br-t);
}

.x-br-b {
  border-radius: var(--x-br-b);
}

.x-br-half {
  border-radius: var(--x-br-half);
}

/**************************************************************************************************/

.x-grow {
  flex-grow: 1;
}

.x-grid {
  display: grid;
  place-content: start;
}

.x-m-small {
  margin: var(--x-gap-small);
}

.x-m-medium {
  margin: var(--x-gap-medium);
}

.x-gap-small {
  gap: var(--x-gap-small);
}

.x-gap-medium {
  gap: var(--x-gap-medium);
}

.x-gap-large {
  gap: var(--x-gap-large);
}

.x-mb-small {
  margin-bottom: var(--x-gap-small);
}

/**************************************************************************************************/

.x-flow-root {
  display: flow-root;
}

.x-flow-root .x-f-left {
  float: inline-start;
  margin-inline-end: var(--x-gap-large);
}

/**************************************************************************************************/

.x-blur {
  backdrop-filter: blur(var(--x-blur));
  background-color: color-mix(
    in oklab,
    var(--color-background) 40%,
    transparent
  );
  text-shadow: 0 0 3px var(--color-separator);
}

.x-blur {
  color: var(--color-text-highlight);
  padding: 0.2rem 0.8rem;
  border-radius: var(--x-br-half);
}

.x-blur-title:not(:has(*)) {
  display: none;
}

/**************************************************************************************************/

.x-image {
  background: var(--x-c-foreground-light);
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  opacity: 0.75;
  transition: opacity 0.2s;
  border-radius: var(--x-br-half);
}

.x-image:hover {
  filter: none;
  opacity: 1;
}

.x-blend {
  filter: grayscale(0.2) contrast(0.9);
  opacity: 0.75;
  transition:
    filter 0.2s,
    opacity 0.2s;
}

video.x-blend.is-playing,
.x-blend:not(video):hover,
.x-parent-hover:hover .x-blend:not(video):not(.x) {
  filter: none;
  opacity: 1;
}

/**************************************************************************************************/

.x-parent-hover:hover {
  background: var(--x-c-foreground-light);
}

.x-inline-link {
  display: inline-flex;
  place-items: baseline;
  gap: 7px;
}

.x-inline-link.image svg {
  place-self: center;
}

.x-html {
  white-space: pre-line;
  word-wrap: break-word;
}

.x-wb-bw {
  word-break: break-word;
}

.x-preview {
  height: 7rem;
  overflow: hidden;
  position: relative;
}

.x-preview::after {
  content: " ";
  background: linear-gradient(to top, var(--x-c-foreground), transparent);
  position: absolute;
  inset: 0;
}

.x-parent-hover:hover .x-preview::after {
  background: linear-gradient(to top, var(--x-c-foreground-light), transparent);
}

.x-show-more {
  display: none;
  background: var(--x-c-foreground-lighter);
  padding: 0 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.x-show-more:hover {
  background: var(--x-c-foreground-shiny);
}

.x-preview .x-show-more {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  margin-left: -53px;
  border-radius: 13px;
}

.x-external {
  background: var(--x-c-foreground-light);
  display: flex;
  width: max-content;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  gap: 8px;
}

.x-parent-hover:hover .x-external {
  background: var(--x-c-foreground-lighter);
}

.x-parent-hover:hover .x-external:hover {
  background: var(--x-c-foreground-shiny);
  color: var(--color-text-highlight);
}

.x-external img {
  width: 16px;
  border-radius: 3px;
}
